body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
}

h1#loader {
  display: none;
}

#container {
  width: 400px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.form-group {
  margin-bottom: 25px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #555;
}

input[type="password"] {
  display: block;
  width: calc(100% - 20px);
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #2980b9;
}

.notification-container {
  padding: 12px;
  text-align: center;
  color: white;
  margin-bottom: 15px;
  border-radius: 5px;
}

#error {
  background-color: #e74c3c; /* Light red for error */
}

#success {
  background-color: #27ae60; /* Green for success */
}
